body {
  background-color: white;
  color: #ffd700;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding-top: 80px;
}

/* HEADER */
header {
  background-color: #222;
  color: #ffd700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  font-family: 'Noto Sans', sans-serif;
  z-index: 1000;
}

header input[type="radio"] {
  display: none;
}

header .logo {
  height: 130px;
}

header .user-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 58%;
  position: relative;
  z-index: 10;
}

header .user-info {
  font-size: 25px;
  font-weight: bold;
}

header .logout-button {
  background-color: #ffd700;
  border: 2px solid #ffd700;
  font-size: 14px;
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 45px;
}

header .logout-button:hover {
  background-color: black;
  color: #ffd700;
}

.back-button {
  background-color: #ffd700;
  border: 2px solid #ffd700;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
  color: black;
  border-radius: 5px;
  transition: 0.3s;
  margin-left: 65vh;
}

.back-button:hover {
  background-color: black;
  color: #ffd700;
}

h2 {
  justify-self: center;
  margin-top: 10%;
}

form {
  background-color: grey;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  margin: 20px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

label {
  color: black;
  margin-top: 5px;
  padding: 5px;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: white;
  size: 20px;
  margin-top: 15px;
  color: black;
  font-size: 15px;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00ff88;
}

input {
  margin-bottom: 5px;
  font-size: 16px;
}
