body {
  background-color: rgb(185, 185, 185);
  color: #ffd700;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding-top: 80px;
}

/* HEADER */
header {
  background-color: #222;
  color: #ffd700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  font-family: 'Noto Sans', sans-serif;
  z-index: 1000;
}

header input[type="radio"] {
  display: none;
}

header .logo {
  height: 130px;
}

header .user-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 58%;
  position: relative;
  z-index: 10;
}

header .user-info {
  font-size: 25px;
  font-weight: bold;
}

header .logout-button {
  background-color: #ffd700;
  border: 2px solid #ffd700;
  font-size: 14px;
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 45px;
}

header .logout-button:hover {
  background-color: black;
  color: #ffd700;
}

.back-button {
  background-color: #ffd700;
  border: 2px solid #ffd700;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
  color: black;
  border-radius: 5px;
  transition: 0.3s;
  margin-left: 65vh;
}

.back-button:hover {
  background-color: black;
  color: #ffd700;
}



.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px;
}

ul {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 50%;
}

ul li {
  background: grey;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: block;
  box-sizing: border-box;
}

a:hover {
  color: black;
}


@media (max-width: 768px) {
  header {
    height: auto;
    flex-direction: row;
  }

  header .logo {
    height: 100px;
  }

  header .user-info {
    font-size: 20px;
  }

  header .buttons-area {
    position: static;
    margin-left: auto;
  }

  .container {
    width: 95%;
  }

  ul li {
    width: 100%;
    padding: 10px;
  }

  ul li a {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  header .logo {
    height: 80px;
  }

  header .user-info {
    font-size: 16px;
  }

  header .logout-button, .back-button {
    padding: 5px 10px;
    font-size: 12px;
  }

  ul li {
    padding: 8px;
  }

  ul li a {
    font-size: 14px;
  }
}
