body {
  background-color: rgb(185, 185, 185);
  color: #ffd700;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding-top: 80px;
}

/* HEADER */
header {
  background-color: #0d0d0d;
  color: #eff0f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 98%; 
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  font-family: 'Noto Sans', sans-serif;
  z-index: 1000;
  overflow: hidden; 
}

header .logo {
  height: 130px;
  max-width: 100%; 
}

header .user-area {
  flex-grow: 1; 
  text-align: center; 
  font-size: 22px; 
  font-weight: bold;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

header .buttons {
  display: flex;
  gap: 5px; 
  margin-left: 10px; 
}

header .logout-button,
header .back-button {
  background-color: #ff8e3c;
  border: 2px solid #ff8e3c;
  font-size: 14px;
  color: #0d0d0d;
  padding: 5px 12px; 
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap; 
  min-width: 0; 
  max-width: 60px; 
}

header .logout-button:hover,
header .back-button:hover {
  background-color: #0d0d0d;
  color: #ff8e3c;
}

.container {
  width: 80%;
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px;
}

ul {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  text-align: center;
}

ul li {
  background: grey;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
  width: 50%;
  align-self: center;
  display: block;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: block;
  box-sizing: border-box;
}

a:hover {
  color: black;
}


@media (max-width: 768px) {
  header {
    height: auto;
    flex-direction: row;
  }

  header .logo {
    height: 100px;
  }

  header .user-info {
    font-size: 20px;
  }

  header .buttons-area {
    position: static;
    margin-left: auto;
  }

  .container {
    width: 95%;
  }

  ul li {
    width: 100%;
    padding: 10px;
  }

  ul li a {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  header .logo {
    height: 80px;
  }

  header .user-info {
    font-size: 16px;
  }

  header .logout-button, .back-button {
    padding: 5px 10px;
    font-size: 12px;
  }

  ul li {
    padding: 8px;
  }

  ul li a {
    font-size: 14px;
  }
}
