body {
  background-color: #2f2841;
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding-top: 80px;
}

/* HEADER */
header {
  background-color: #2f2841;
  color: #00ff88;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  font-family: 'Noto Sans', sans-serif;
}

header .logo {
  height: 130px;
}

header .user-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 58%;
}

header .user-info {
  font-size: 25px;
  font-weight: bold;
}

header .logout-button {
  background-color: #00ff8052;
  border: 2px solid #00ff88;
  font-size: 14px;
  color: #00ff88;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 45px;
}

header .logout-button:hover {
  background-color: #00ff88;
  color: #2f2841;
}

.back-button {
  background-color: #00ff8052; /* Cor principal */
  border: 2px solid #00ff88;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
  color: #00ff88;
  border-radius: 5px;
  transition: 0.3s;
  margin-left: 65vh;
}

.back-button:hover {
  background-color: #00ff88;
  color: #2f2841; /* Cor ao passar o mouse */
}

/* Seção */
.section.avaliacao {
  margin: 20px;
  padding: 20px;
  background-color: #2f2841;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section.avaliacao h2 {
  margin-bottom: 20px;
  margin-top: 40px;
  color: #00ff88;
}

/* Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table thead {
  background-color: #2f2841;
  color: white;
}

table thead th {
  padding: 10px;
  text-align: center;
  border: 1px solid #00ff88;
}

table tbody td {
  padding: 10px;
  font-size: 14px;
  text-align: left;
  border: 1px solid #00ff88;
}

table tbody tr:nth-child(odd) {
  background-color: #2f2841;
}

table tbody tr:nth-child(even) {
  background-color: #2f2841;
}

table select {
  width: 60px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background-color: #f9f9f9;
}

/* Botão de salvar */
button[type="submit"] {
  background-color: #00ff8052;
  border: 2px solid #00ff88;
  font-size: 14px;
  color: #00ff88;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  margin-bottom: 45px;
}

button[type="submit"]:hover {
  background-color: #00ff88;
  color: #2f2841;
}

footer {
  background-color: #2f2841; /* Mesma cor de fundo do header */
  color: #00ff88; /* Cor do texto */
  text-align: center;
  padding: 10px 20px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  position: fixed; /* Fixa o footer na parte inferior */
  bottom: 0;
  width: 100%;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); /* Sombra no topo */
}
